@model IEnumerable<FPTJobMatch.Models.JobCV>

@{
    ViewData["Title"] = "Job Applications";
}

<h1>Job Applications</h1>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Job Title</th>
            <th>Applicant</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Job.Title</td>
                <td>@item.CV.Applicant.UserName</td>
                <td>
                    <a asp-action="DownloadCV" asp-route-cvId="@item.CV.CVID" class="btn btn-primary">Download CV</a>
                    <a asp-action="ApproveCV" asp-route-jobCVID="@item.JobCVID" class="btn btn-success">Approve</a>
                    <a asp-action="RejectCV" asp-route-jobCVID="@item.JobCVID" class="btn btn-danger">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>
